@import url('https://fonts.googleapis.com/css?family=Dekko|Finger+Paint');

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-family: 'Dekko', cursive;
}

canvas {
  height: 100%;
  width: 100%;
}

a.item {
  font-family: 'Dekko', cursive !important;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  background: rgba(48, 83, 242, 0.8);
}

.ui.bottom.attached.tab.segment{
  height: 100%;
  background: rgba(232, 251, 255, 0.0)
}

#mainContainer {
  position: fixed;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 70%;
  bottom: 0px;
  background: rgba(232, 251, 255, 0.5)
}

#mainContainer p {
    font-weight: bold;
    color: #000000;
}

#langGrid {
  font-family: 'Dekko', cursive !important;
  padding: 15px;
  background: rgba(255, 255, 255, 0.0)
}

#frameGrid {
  font-family: 'Dekko', cursive !important;
  padding: 15px;
  background: rgba(255, 255, 255, 0.0)
}

a.header, .sub.header, p {
  font-size: 1.05rem !important;
  font-family: 'Dekko', cursive !important;
}

h3 {
  font-size: 2rem !important;
  font-family: 'Dekko', cursive !important;
}

h1 {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
  font-family: 'Finger Paint', cursive;
  font-size: 2rem;
  border: 3px solid black;
  border-radius: 20px;
  padding: .5rem 2rem;
  background: rgba(255, 255, 255, 0.8)
}

#aboutMe {
  margin: auto;
  width: 90%;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width:600px) {
  #aboutMe {
    margin: 0 !important;
    width:100% !important;
  }
  h1 {
    font-size: 1.4rem;
  }
  a.item {
  font-size: 1.1rem;
  }
}